.outer_how-nothing {
    font-size: 28px;
    font-weight: 700;
    color: #1c1b1b;
    margin-bottom: 35px;
    background-color: #f7f2e7;
    padding: 70px 0;
    font-family: Inter, sans-serif;
    text-align: center;
    padding-top: 0;

    @media only screen and (max-width: 678px) {
        .product_why-bloating-grid {
            display: grid !important;
            gap: 8px;
            margin-bottom: 24px;

            .product_why-nothing-pink {
                min-height: unset !important;
            }
        }
    }

    .product_why-bloating-grid {
        display: flex;
        gap: 16px;
        margin-top: 40px;

        >div {
            width: 100%;
        }

        .product_why-nothing-cell {
            border-radius: 6px;
            overflow: hidden;

            .product_why-nothing-cell-inn {
                background: #f7f7f7;
                padding: 24px;
                text-align: center;

                h4 {
                    font-family: "Trirong", serif;
                    font-size: 20px;
                    line-height: 1.3em;
                    margin: 0;
                }

                .product_why-nothing-pink {
                    background: #ffe3e3;
                    padding: 8px 16px;
                    border-radius: 6px;
                    overflow: hidden;
                    margin-top: 24px;
                    min-height: 200px;

                    .product_why-nothing-subtitle {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        justify-content: center;
                        font-size: 16px;
                        line-height: 1.3em;
                        font-weight: 600;

                        img {
                            max-width: 24px;
                        }
                    }

                    .product_why-nothing-text {
                        font-size: 16px;
                        line-height: 1.3em;
                        margin: 12px 0 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 678px) {
        .product_primary-btn {
            display: block !important;
            padding: 16px !important;
            text-align: center !important;
            font-size: 16px !important;
        }
    }

    .product_primary-btn {
        font-family: 'Nunito';
        display: inline-block;
        padding: 18px 80px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        background: #000;
        border-radius: 4px;
        font-size: 18px;
        transition: all .2s;
        line-height: 1.3em;
        text-align: center;
    }

    .product_primary-btn-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        font-size: 16px;
        line-height: 1.3em;
        margin: 16px 0 0;

        img {
            max-width: 24px;
        }
    }
}

.product_judge-outer {
    padding: 56px 0;
    background: #f3eee0;

    .product_lymph-ingr-table-small {
        max-width: 580px;
        margin: 40px auto auto;
    }

    .product_lymph-ingr-table {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background: #fff;
        border-radius: 12px;
        border: .5px solid black;
        overflow: hidden;

        .product-lymph-ingredient {
            border: .5px solid black;
            padding: 24px;
            cursor: pointer;




            .accordion-content-wrapper {
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 0.4s ease, opacity 0.3s ease;
                opacity: 0;

                &.is-active {


                    grid-template-rows: 1fr;
                    opacity: 1;
                    padding-top: 12px; // Tạo khoảng cách với tiêu đề
                }

                .product_tab-content {
                    overflow: hidden;
                    font-size: 15px;
                    color: #444;
                    line-height: 1.5;
                }
            }

            .product_lymph-ingr-subtitle {
                display: flex;
                justify-content: center;
                gap: 8px;
                align-items: center;
                font-size: 16px;
                color: #0c7c00;
                margin: 0;

                .product_lymph-main-img {
                    display: block;
                    max-width: 120px;
                    margin: 12px auto;
                    max-height: 80px;
                    width: auto !important;
                }

                img {
                    max-width: 16px;
                    display: block;
                }

                span {
                    letter-spacing: 0;
                }
            }

            .product_lymph-ingr-thumb {
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: space-between;

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                    line-height: 1.3em;
                    font-family: 'Trirong', 'serif';
                }

                img {
                    max-width: 24px;
                    display: block;
                    margin-left: auto;
                }
            }

            @media only screen and (max-width: 678px) {
                .product_lymph-ingr-thumb {
                    >div:nth-child(1) {
                        width: 20%;
                    }

                    >div:nth-child(2) {
                        width: 70%;
                    }

                    >div:nth-child(3) {
                        width: 10%;
                    }
                }
            }

            .product_lymph-ingr-content {
                padding-top: 12px;

                p {
                    margin: 0;
                    line-height: 1.3em;
                    font-size: 14px;
                }
            }

            .product_lymph-main-img {
                display: block;
                max-width: 120px;
                margin: 12px auto;
                max-height: 80px;
            }
        }
    }

    @media only screen and (max-width: 678px) {
        .product_lymph-ingr-thumb>div:nth-child(1) {
            width: 20%;
        }

        .product_lymph-ingr-table {
            grid-template-columns: 1fr;
        }

        .product_lymph-main-img {
            margin: 0 !important;
            width: 100% !important;
            max-width: 100px !important;
        }
    }
}

@media only screen and (max-width: 678px) {
    .product_judge-outer {
        padding: 32px 0;
    }
}