.Index_faq_accordion_lists_main_new {
    background: #a40011;

    .Index_faq_accordion_lists_sides_new {
        display: flex;

        .Index_faq_accordion_lists_sides_mainleft_new {
            width: 50%;
            padding: 40px 120px 40px 56px;
            align-self: center;
            height: 100%;
            position: relative;
        }

        .Index_faq_accordion_lists_sides_mainright_new {
            width: 50%;

        }

        .Index_faq_accordion_lists_sides_innerleft_new {
            max-width: 79.414%;
            margin: 0 0 0 auto;

            .Index_faq_accordion_lists_sides_innerleft_innertitle_new h2 {
                font-size: 52px;
                line-height: 110%;
                font-weight: 300;
                letter-spacing: -1px;
                margin: 0;
                ;
                color: #ff9693;
            }
        }
        .Index_faq_accordion_lists_sides_innerright_videoimage_new {
    padding-bottom: 89.307%;
    min-height: 872px;
    position: relative;
    width: 100%;
    height: 100%;
}
        .Index_faq_accordion_lists_sides_innerright_videoimage_new img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
    object-position: center left;
}
.button_brown_new {
    background: #50000b;
    color: white;
}
.product_tab-block_out {
   .cpr-expand__trigger, .cpr-expand__text{
    color: white !important;
    font-size: 16px;
   }
   .cpr-expand__text{
        padding-bottom: 12px;
    }
      .cpr-expand__text:last-child {
    padding-bottom: 0;
}
}
.meta_accordions_detail_mainloops_new .product_tab-block .product_tab-thumb{
    background: url(https://im8health.com/cdn/shop/t/121/assets/IM8_faq_plus.svg) no-repeat right center;
   }
   .meta_accordions_detail_mainloops_new .product_tab-block.is-active .product_tab-thumb{
    background:url(https://im8health.com/cdn/shop/t/121/assets/IM8_faq_minus.svg) no-repeat right center
   }
   .meta_accordions_detail_mainloops_new .product_tab-block
{
    border-color: white;
}
    }
}