.main_product-outer {
    padding: 32px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}

p {
    font-family: 'Nunito', sans-serif;
}
.text-black{
    color: black;
}