.Product_image_text_column_main_new {
    padding: 104px 0 56px;

    .Common_title_new h1,
    .Common_title_new h2 {
        color: #50000b;
        font-size: 52px;
        font-weight: 300;
        line-height: 110%;
        letter-spacing: -1px;
        margin: 0;
    }

    .Product_image_text_column_innerloop_new {
        padding-top: 56px;
        display: flex;
        grid-gap: 0 16px;

        .Product_image_text_column_innerloop_mainboxs_new {
            width: calc(33.33% - 0px);
            padding-bottom: 18px;

            .Product_image_text_column_innerloop_innerboxs_innerboths_videoimage_new {
                position: relative;
                padding-bottom: 100%;
            }

            .Product_image_text_column_innerloop_innerboxs_innerboths_videoimage_new video {
                width: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100% !important;
                border-radius: 16px;
                object-position: top;

                img {
                    height: auto;
                }
            }

            .Product_image_text_column_innerloop_innerboxs_innerinfos_new {
                padding-top: 16px;

                p {
                    margin: 0;
                    color: #50000b;
                    font-family: var(--font-heading-family) !important;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 108%;
                    letter-spacing: -.48px;
                    display: flex;
                    text-align: start;
                }
            }
        }
    }
}

.landing-page-welcome-kit-wrapper {
    padding-top: 30px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .landing-page-welcome-kit {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    .landing-page-welcome-kit__content {
    width: 50%;
    padding: 0 20px; 
     .Common_title_new {
    padding-bottom: 30px;
}
}
.landing-page-welcome-kit__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
    margin-bottom: 5px;
    .table-item__main-title {
    font-size: 18px;
    font-weight: 700;
    color: #50000b;
    width: 70%;
}
.table-item__price {
    font-size: 18px;
    font-weight: 700;
    color: #50000b;
    text-align: right;
    width: 90px;
}
.table-item__first-time {
    font-size: 12px;
    font-weight: 700;
    color: #7e7e7e;
}
.table-item__title {
    font-size: 18px;
    font-weight: 500;
    color: #50000b;
    width: 65%;
    padding: 5px 0;
    line-height: 1.3;
}
.table-item__price-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding: 5px 0 5px 5px;
    margin-left: 10px;
    .table-item__price--cut {
    font-size: 16px;
    font-weight: 500;
    color: #7e7e7e;
    text-align: right;
}
}
}
.table-item__title {
    font-size: 18px;
    font-weight: 500;
    color: #50000b;
    width: 65%;
    padding: 5px 0;
    line-height: 1.3;
}
.table-item__total-title {
    font-size: 18px;
    font-weight: 700;
    color: #50000b;
    width: 65%;
}
}
.landing-page-welcome-kit hr {
    width: 100%;
    height: 1px;
    background-color: #160505;
    margin: 10px 0;
}
.landing-page-welcome-kit__image {
    display: flex;
    width: 50%;
    object-fit: cover;
    height: 100% !important;
    object-position: center center;
    align-self: center;
    justify-content: center;
}

}
@media (min-width: 750px) {
    .landing-page-welcome-kit-wrapper {
        background: url(//im8health.com/cdn/shop/files/welcome-kit-bg.png?v=1731643818) no-repeat center center !important;
        background-size: cover !important;
    }
}
.welcome-kit-button {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.landing-page-welcome-kit ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    li {
    list-style: none;
    background: url(https://im8health.com/cdn/shop/t/121/assets/featured_check_icon.svg) no-repeat center left;
    padding-left: 24px;
    margin-right: 10px;
    font-size: 16px;
}
}
.landing-page-welcome-kit__content .Common_title_new h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: normal;
    color: #50000b;
}