.Index_object_experts_list_main_new {
    background: #f5eaea;
    padding: 104px 0;
    position: relative;
    z-index: 1;
    .Index_object_experts_list_mainstatic_new {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .Index_object_experts_list_innerstatic_innerdesktop_imagevideo_new img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}
}
.Index_object_experts_list_inneroverlay_innertitle_new {
    z-index: 999;
    position: relative;
    
}
.Common_title_new h1, .Common_title_new h2 {
    color: #50000b;
    font-size: 52px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -1px;
    margin: 0;
    text-align: center;
}
.Index_object_real_results_innerdetail_innerloops_mainboxs_new {
    padding: unset;
    .Index_object_real_results_innerdetail_innerloops_innerboxs_header_innerdetails{
    
        background: #f5eaea;
    backdrop-filter: blur(6px);
    border-radius: 16px 16px 0 0;
    padding: 12px 24px 12px 12px !important;
    }
     video {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
    border-radius: 0 0  16px 16px;
}

}
.Index_object_real_results_innerdetail_innerloops_mainboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_innerboths_new {
    height: unset;
}
.Index_object_real_results_innerdetail_innerloops_mainboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_innerboths_new .Index_object_real_results_innerdetail_innerloops_innerboxs_innerboths_imagevideo_new {
    position: relative;
    padding-bottom: 150%;
}
.Index_object_real_results_innerdetail_innerloops_mainboxs_new{
    background: unset;
}
.Index_object_real_results_innerdetail_innerloops_innerboxs_innertexts_innerinfos_new{
    padding: 25px 25px;border-radius: 16px;
    background: #f5eaea;
    min-height: 102px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.Index_object_real_results_innerdetail_innerloops_mainboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_new .Index_object_real_results_innerdetail_innerloops_innerboxs_maintexts_new {
    padding-top:unset;
}
}