.section_holder {
    width: 100%;
    line-height: 1;
    background: #f3eee0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    gap:20px;

    .title_wrap {
        font-size: 24px;
        letter-spacing: 0px;
        color: #000000;
        margin: 0;
    }
    img{
        height: 30px;
    width: auto;
    display: block;
    margin: 0 50px;
    }
}