.Footer_main_new {
    padding: 72px 0 34px 0 !important;
     .footer__content-top {
    display: flex !important;
    align-items: flex-start;
    padding-bottom:50px;
}
.Footer_1_loops_new {
    width: calc(100% - 27.862%);
    grid-gap: 10px;
    .Footer_1_loops_boxs_new {
    width: calc(20% - 16px) !important;
}
.footer-block__heading {
    font-family: var(--font-heading-family);
    color: #ff9693 !important;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 135%;
    margin: 0 !important;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
    color: #ff9693 !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 135%;
    padding: 8px 0 !important;
    display: block;
    text-decoration: none !important;
}
}
}
.Footer_1_newsletter_main_new {
    width: 27.862%;
    padding-left: 45px;
    border-left: 1px solid rgba(255, 150, 147, .3);
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
@media screen and (min-width: 750px) {
    .footer-block--newsletter {
        flex-wrap: nowrap;
        justify-content: center;
    }
}
.Footer_1_newsletter_mainboth_new {
    display: none;
}
@media screen and (min-width: 750px) {
    .footer-block__newsletter:not(:only-child) {
        text-align: left;
        margin-right: auto;
    }
}
.Footer_1_newsletter_title_new h4 {
    margin: 0;
    color: #ff9693;
    font-size: 13px;
    font-weight: 700;
    line-height: 135%;
    text-transform: uppercase;
    font-family: var(--font-body-family);
}
.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.footer__newsletter {
    padding-top: 20px;
    max-width: 100% !important;
}
.field {
    position: relative;
    width: 100%;
    display: flex;
    transition: box-shadow 1000 ease;
    display: block;
}
.Footer_1_newsletter_main_new .newsletter-form__field-wrapper .field__input {
    color: transparent;
    text-shadow: 0 0 0 #50000b;
    border-radius: 80px;
    border: 1px solid #50000b;
    background: #fff url(cursor_blinking.gif) no-repeat left 7px center;
    font-family: var(--font-nb-architekt) !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: .28px;
    padding: 0 15px 0 30px;
    min-height: 48px;
    background-size: auto 32px;
    width: 100%;
}
.customer .field label, .field__label {
    font-size: 1.6rem;
    left: calc(var(--inputs-border-width) + 2rem);
    top: calc(1rem + var(--inputs-border-width));
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top var(--duration-short) ease, font-size var(--duration-short) ease;
    color: rgba(var(--color-foreground), .75);
    letter-spacing: 0;
    line-height: 1.5;
}
.Footer_1_newsletter_main_new .newsletter-form__field-wrapper .field__label {
    display: none;
}
.newsletter-form__field-wrapper {
    position: relative;
    width: 100%;
}
.Footer_1_newsletter_main_new .newsletter-form__button {
    width: 100% !important;
    display: block;
    position: relative;
    border-radius: 100px;
    background: #a40011 !important;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .32px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 12px;
    border:0;
}
.Footer_1_newsletter_texts_new p {
    margin: 0;
    padding-top: 15px;
    color: #ff9693;
    font-size: 12px;
    font-weight: 400;
    line-height: 135%;
    max-width: 280px;
    text-align: left;
}
}
.gradient {
    background: var(--gradient-background);
    background-attachment: fixed;
}
 * {
    --gradient-background: #50000b;
 }

 .grid {
    display: flex;
    flex-wrap: wrap;
 }
 .Footer_2_sides_innerlogos_new img {
    width: 100%;
    display: flex;
    height: auto;
}
.Footer_2_sides_innerbottom_new {
    display: flex;
    align-items: center;
    padding-top: 30px;
    .Footer_2_sides_innerbottom_copyright_new {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    font-weight: 400;
    line-height: 135%;
    
}
 ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;  li {
    list-style: none;
    margin-left: 15px;
    position: relative;
    display: flex;
    a {
        color: rgba(255, 255, 255, .5);
    font-size: 12px;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
    }
}
}
}
.Footer_2_sides_banner_claim_container {
    margin: 50px 0 80px;
    color: #ff9693;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        color: #ff9693;
    }
    .Footer_2_sides_banner_claim_content {
    padding: 15px;
    width: 80%;
    text-align: center;
    border: 1px solid;
    font-weight: 600;
    font-size: 16px;
}
.Footer_2_sides_banner_claim_content_2 {
    font-size: .8em;
    margin-top: 10px;
    text-align: center;
    width: 80%;
    font-size: 12.8px;

}
}