.nutrition_popup-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b3;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .nutrition_popup-inner {
        width: 100%;
        max-width: 450px;
        padding: 16px;
        border-radius: 12px;
        position: relative;
        background: #fff;

        img.nutrition_popup-close {
            position: absolute;
            width: 24px;
            right: 8px;
            top: 8px;
            cursor: pointer;
            transform: rotate(45deg);
            border-radius: 50%;
            border: 1px solid #d5416e;
        }

        .main_product-title {
            font-size: 28px;
            margin-bottom: 16px;
            line-height: 1.4em;
            font-family: Lora;
            font-weight: 400;
        }
@media only screen and (max-width: 678px) {
    .main_product-title {
        font-size: 24px;
    }
}
        .main_product-btn {
            display: block;
            padding: 20px;
            cursor: pointer;
            margin: 16px 0;
            background: #000;
            text-align: center;
            color: #fff;
            font-size: 16px;
            border-radius: 8px;
        }
@media only screen and (max-width: 678px) {
    .main_product-btn {
        font-size: 16px;
        padding: 18px;
    }
}
        .main_product-points {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            justify-content: center;
        }

        .main_product-point-line {
            display: flex;
            align-items: center;
            gap: 4px;

            >div:nth-child(1) {
                width: 16px;
                display: flex;
            }
            p {
    font-size: 12px !important;
    margin: 0;
    line-height: 1.3em;
}
        }
    }
}